.indent
    margin-left 5%

.jump-to-recipe
    max-width 20%
    border-radius 2rem
    padding 1rem

.print-recipe
    display block
    width auto
    color link-color
    height 28px
    line-height 26px
    font-family font-family-base
    text-decoration none
    margin 0.5rem
    font-size 110%
    border none
    background-color transparent
    &:hover
        transform none
        cursor pointer    


.top-image
    max-width 30%
    float left
    border-radius 2rem
    padding 1rem

.floating-image
    float right
    border-radius 2rem
    max-width 22rem
    padding 3px

.post-body
    font-family Arial

.side-by-side
    border-radius 2rem
    max-width 30rem
    padding 3px

.jump-to-recipe-btn 
    display block
    width auto
    color link-color
    height 28px
    line-height 26px
    font-family font-family-base
    text-decoration none
    margin 0.5rem
    font-size 110%
    &:hover
        transform none
        cursor pointer

.index-image
    max-width 15%
    float left
    border-radius 2rem
    padding 1rem

.index-btn 
    display inline-block
    width auto
    color link-color
    height 28px
    line-height 26px
    font-family font-family-base
    text-decoration none
    margin 0.5rem
    font-size 110%
    &:hover
        transform none
        cursor pointer