.indent
    margin-left 5%

.jump-to-recipe
    max-width 20%
    border-radius 2rem
    padding 1rem

.print-recipe
    max-width 15%
    border-radius 2rem

.top-image
    max-width 30%
    float left
    border-radius 2rem
    padding 1rem

.floating-image
    float right
    border-radius 2rem
    max-width 22rem
    padding 3px

.post-body
    font-family Arial

.side-by-side
    border-radius 2rem
    max-width 30rem
    padding 3px

.jump-to-recipe-btn 
    max-width 20%
    border-radius 2rem
    padding 1rem 