.recipe-box 
    //background-color rgba(0,0,0,.8)
    //background-color rgb(233, 241, 241)
    border 1px solid rgb(189, 189, 189) 
    padding .5rem

.recipe-title-box
    border 1px solid rgb(189, 189, 189) 
    padding 1rem
    border-radius 2rem
    background-color rgb(221, 235, 235)
    display flex
    justify-content center
    align-items center
    position relative

    .recipe-title-box-title
        text-align left
        display flex
        align-items center

    .recipe-title-box-header
        font-size 28px
        font-weight bold
        margin 2.5rem 0 1.5rem

    .recipe-title-box-img
        max-width 20%
        margin 1rem 2rem
        border-radius 2 rem